<form [formGroup]="carrosForm" novalidate (ngSubmit)="save()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Informações do carro</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Modelo" formControlName="modelo" [(ngModel)]="model.modelo">
            <mat-error *ngIf="carrosForm.controls['modelo'].hasError('required')">
              {{ erros.campoObrigatorio.replace('{0}', 'Modelo') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Marca" formControlName="idMarca" [(ngModel)]="model.idMarca">
              <mat-option *ngFor="let marca of listaMarcas" [value]="marca.id">
                {{ marca.nome }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="carrosForm.controls['idMarca'].hasError('required')">
              {{ erros.campoObrigatorio.replace('{0}', 'Marca') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ano fabricação" formControlName="anoFabricacao" type="number" [(ngModel)]="model.anoFabricacao">
            <mat-error *ngIf="carrosForm.controls['anoFabricacao'].hasError('required')">
              {{ erros.campoObrigatorio.replace('{0}', 'Ano fabricação') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Ano modelo" formControlName="anoModelo" type="number" [(ngModel)]="model.anoModelo">
            <mat-error *ngIf="carrosForm.controls['anoFabricacao'].hasError('required')">
              {{ erros.campoObrigatorio.replace('{0}', 'Ano modelo') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Quantidade de portas" formControlName="quantidadePortas" [(ngModel)]="model.quantidadePortas">
              <mat-option [value]="2">2</mat-option>
              <mat-option [value]="4">4</mat-option>
            </mat-select>
            <mat-error *ngIf="carrosForm.controls['quantidadePortas'].hasError('required')">
              {{ erros.campoObrigatorio.replace('{0}', 'Quantidade de portas') }}
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <mat-select placeholder="Automático?" formControlName="automatico" [(ngModel)]="model.automatico">
              <mat-option [value]="true">Sim</mat-option>
              <mat-option [value]="false">Não</mat-option>
            </mat-select>
            <mat-error *ngIf="carrosForm.controls['automatico'].hasError('required')">
              {{ erros.campoObrigatorio.replace('{0}', 'Automático?') }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <footer-buttons [esconderBotaoExcluir]="isSavingNew()"
      (cancelar)="cancel()"
      (excluir)="delete()"
      (salvar)="save(true)">
    </footer-buttons>
  </mat-card>
</form>
